{{#if wrongAnswer}}
    <div class="alert alert-warning" id="success-alert">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Attention!</strong> {{ wrongAnswer }}
    </div>
{{/if}}
<div class="jumbotron mt-5">
    <div class="container">
        <form action="/tests/check" enctype="multipart/form-data" method="POST">
        <h1 class="display-3">{{ quizzQuestion }} : {{currentTestId}}</h1>

        {{#each quizzAnswers}}
            {{#each this}}
                {{#if this/answer}}
                    <!-- Default unchecked -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" value={{this/_id}} name="checkbox" class="custom-control-input" id={{this/_id}}>
                        <label class="custom-control-label" for={{this/_id}}>{{this/answer}}</label>
                    </div>
                {{/if}}
            {{/each}}
        {{/each}}
        <button class="btn btn-lg btn-primary mt-4" name="choosedTestId" value="{{currentTestId}}" type="submit">Submit</button>
        </form>
    </div>
</div>